
table, th, td {
border: 5px solid black;
border-collapse: collapse;
margin-top: 290px;
}

th, td {
padding: 10px;
text-align: center;
vertical-align: middle;
}

td:hover {
    background-color: coral;
}
body{
    background-image: url("./images/wallpaper-3.jpeg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 600px 250px ;
}

