<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="./images/ticket.ico">
    <link rel="stylesheet" type="text/css" href="./css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Nunito+Sans:wght@300&family=Poppins&display=swap" rel="stylesheet">
</head>


<body>

    <div class="events-search-container">
        <h1>Events Search</h1>
        <hr>
        <br>

        <form action="" id="events-search-form">

            <label class="keyword-label" for="keyword" >Keyword<span class="req">*</span> </label>
            <input id="keyword" type="text" name="keyword" required/> 
            
            <button class="btn" id="search-btn" type="submit" form="events-search-form" value="search" > SEARCH</button>
        </form>
    </div>

</body>
</html>