.rounded-table {
    border-radius: 10px;
    overflow: hidden;
  }

img{
    width: 90px;
    height: 80px;
}

#td-date{
  width : 15%;
}

#td-icon{
  width : 15%;
}

#td-event{
  width : 45%;
}

#td-genre{
  width : 10%;
}

#td-venue{
  width : 15%;
}

tr:hover{
  cursor: pointer;
}