.no-results-container{
    background-color: white; 
    border-radius: 15px;
    height: auto;
    padding: 2px;
    color: white;
    margin-top: 4rem;
}

#error{
    color: #EA5455;
    text-align: center;
    font-family: sans-serif;
}