.rounded-table {
    border-radius: 10px;
    overflow: hidden;
  }

img{
    width: 90px;
    height: 80px;
}

#td-sno{
  width : 5%;
}

#td-date{
  width : 15%;
}

#td-event{
  width : 45%;
}

#td-category{
  width : 20%;
}

#td-venue{
  width : 15%;
}

#td-trash{
  width : 5%;
}


tr:hover{
  cursor: pointer;
}